body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  color: white;
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

canvas {
  display: block;
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover;
}
